header,header .container{
  min-height: 80vh;
  background:url('https://res.cloudinary.com/dgfuzu7mt/image/upload/v1647319933/awwwards/background_cmfkiu.jpg');
  background-size:cover;
  
}

.auth-main{
  background:url('https://res.cloudinary.com/dgfuzu7mt/image/upload/v1647319933/awwwards/background_cmfkiu.jpg');
  background-size:cover;
}

.login-card{
  margin-top:10rem;
}

.highlight{

  background:rgba(228,233,237,0.6);
}

@media only screen and (max-width:480px){

  .large-screen-menu{
    display: none;
  }
}

@media only screen and (min-width:480px) and (max-width:768px){
  .large-screen-menu{
    display: none;
  }


}

