{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container d-flex mt-5 pt-5 justify-content-center">
<form action="{% url 'create_project' %}" method="post" class="card p-5"  enctype="multipart/form-data">
  <h1>Submit Project</h1>
  {% csrf_token %}
  {% bootstrap_form form%}
  <div class="form-group mx-3">

    <input type="submit" class="btn btn-danger btn-sm" value="Submit">


  </div>
  <input type="hidden" name="next" value="{{next}}">
</form>
</div>
{% endblock %}